.about {
  margin: 0;
  margin-top: 28px;
  margin-bottom: 57px;
}

.about__wrapper {
  @include container;
}

.about__title {
  color: $black;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 31px;
}

.about__list {
  @include ul-reset();
}

.about__item {
  padding-top: 39px;
  margin-bottom: 27px;
  color: $black;
  line-height: 20px;
  background-repeat: no-repeat;

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 10px 0;
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 7px;
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 4px 4px;
  }

  &--patriot {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -7px 4px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 3px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 28px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
    margin-left: -5px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .about__item {
    padding-top: 35px;
    margin-bottom: 36px;

    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    flex-basis: 50%;


    &--eco {
      order: 1;
    }

    &--handmade {
      order: 2;
    }

    &--price {
      order: 3;
    }

    &--patriot {
      order: 4;
    }

    &--likes {
      order: 5;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 34px;
  }

  .about__wrapper {
    padding: 0 225px;
  }

  .about__title {
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }
}
