.button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;

  padding: 12px 0;
  text-align: center;
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #444;
  cursor: pointer;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }
}
