.catalog {
  width: $mobile-width;
  margin: 0 auto;
}

.catalog__wrapper {
  padding: 30px;
  padding-bottom: 0px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  @include ul-reset();
}

.catalog__item {
  margin-bottom: 30px;
  list-style: none;
  border: 1px solid $grey-border;
  cursor: pointer;
}

.catalog__info {
  padding: 4px 29px 20px;
}

.catalog__photo-link {
  display: block;
}

.catalog__link {
  display: block;
  text-decoration: none;
}

.catalog__title {
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.catalog__description {
  margin-top: 5px;
  margin-bottom: 19px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.catalog__control {
  padding-top: 21px;
  font-size: 15px;
  font-weight: 800;
  border-top: 1px solid $grey-border;
  display: flex;
  justify-content: space-between;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  color: $black;
}

.catalog__button {
  font-size: 0;
  background-color: transparent;
}
