.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 8px;
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &:hover .copyright__svg,
  &:focus .copyright__svg {
    fill: $aquamarine-link;
  }

  &:active .copyright__svg {
    opacity: 0.3;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0 30px 0 0;
  font-size: 19px;
  line-height: 18px;
  color: $black;
}

.copyright__svg {
  fill: $aquamarine-lighter;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-bottom: 0;
  }
}
