.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
  padding: 0 30px;
  margin-bottom: 23px;
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.copyright__text {
  margin: 0 30px 0 0;
  font-size: 19px;
  line-height: 24px;
  color: $black;
}
