.form {
  width: $mobile-width;
  margin: 0 auto;
}

.form__wrapper {
  padding: 0 30px;
  padding-bottom: 55px;
  padding-top: 23px;
}

.form__description {
  margin: 0;
  margin-bottom: 25px;
  color: $color-text;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__title {
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  color: $aquamarine-lighter;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 198px;
    height: 1px;
    background: $aquamarine;
  }
}

.form__list {
  @include ul-reset();

  &--type {
    margin-top: 21px;
    margin-bottom: 44px;
  }

  &--color {
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &--user {
    margin-top: 25px;
    margin-bottom: 32px;
  }

  &--tel {
    margin-top: 17px;
    margin-bottom: 30px;
  }

  &--email {
    margin-top: 17px;
    margin-bottom: 30px;
  }

  &--wishes {
    margin-top: 17px;
  }
}

.form__item {
  position: relative;
}

.form__list--type .form__item {
  margin-bottom: 13px;
}

.form__list--color .form__item {
  margin-bottom: 37px;
}

.form__list--user .form__item {
  margin-bottom: 19px;
}

.form__radio {
  display: none;
}

.form__label-radio,
.form__label-checkbox,
.form__label-name {
  line-height: 18px;
  font-weight: 700;
}

.form__label-radio {
  position: relative;
  padding-left: 62px;
  padding-top: 12px;
  cursor: pointer;
  display: block;
}

.form__label-radio::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 40px;
  height: 40px;
  background: $white;
  border-radius: 50%;
  border: 2px solid $color-text;
}

.form__label-radio:hover::before {
  border: 2px solid $aquamarine;
}

.form__label-radio:active::before {
  border: 2px solid #c7c7c7;
}

.form__radio:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__checkbox {
  display: none;
}

.form__label-checkbox {
  position: relative;
  padding-left: 62px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid $color-text;
  }

  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active::before {
    border: 2px solid #c7c7c7;
  }
}

.form__checkbox:checked + .form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 22px;
  height: 10px;
  border-radius: 1px;
  background-color: transparent;
  border: 3px solid $black;
  transform: rotate(-45deg);
  border-top: 0;
  border-right: 0;
  box-shadow: 1px 1px 0 $white, 0 -1px 0 $white inset;
}

.form__field {
  color: $color-text;
  background: transparent;
  border: none;
  width: 260px;
  border-bottom: 2px solid $black;
  padding-bottom: 15px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.form__field--name {
  padding-bottom: 15px;
  padding-top: 17px;
  border: none;
  border-bottom: 2px solid $black;
}

.form__field::-webkit-input-placeholder {
  opacity: 0.3;
  color: $color-text;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__field::-moz-placeholder {
  opacity: 0.3;
  color: $color-text;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__field:-moz-placeholder {
  opacity: 0.3;
  color: $color-text;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__field:-ms-input-placeholder {
  opacity: 0.3;
  color: $color-text;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__field--tel {
  padding-top: 12px;
  padding-right: 40px;
}

.form__field--email {
  padding-top: 12px;
  padding-right: 40px;
}

.form__field--wishes {
  margin-top: 9px;
  height: 142px;
  resize: none;
  border: 2px solid $color-text;
  padding: 15px;

  &:hover {
    border: 2px solid #62d1ba;
  }
}

.form__tel-icon {
  position: absolute;
  top: 0;
  right: 8px;
}

.form__email-icon {
  position: absolute;
  top: 6px;
  right: 4px;
}

.form__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $color-text;
  margin-top: 11px;
  margin-bottom: 31px;
}

.form__submit {
  display: block;
  width: 260px;
}
