.page-catalog {
  margin: 0 auto;
  margin-bottom: 58px;
}

.page-catalog__wrapper {
  background-color: $light-grey;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
}

.page-catalog__title {
  margin: 0;
  color: $black;
  font-size: 27px;
  line-height: 30px;
}
