.page-form {
  margin: 0 auto;
}

.page-form__wrapper {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 75px;
}

.page-form__title {
  margin: 0;
  color: #000000;
  font-size: 27px;
  line-height: 30px;
}
