.page-footer {
  background-color: $light-grey;
}

.page-footer__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}
