.production {
  @include container;
}

.production__wrapper {
  border: 1px solid $grey-border;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title-wrapper {
  padding: 23px 31px;
}

.production__title {
  color: $black;
  font-size: 17px;
  padding-left: 57px;
  margin: 0;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 2px 50%;
  background-size: 32px 32px;
}

.production__player {
  position: relative;
}

.production__video-img {
  width: 100%;
}

.production__button-play {
  position: absolute;
  top: 50%;
  left: 47%;
  font-size: 0;
  width: 102px;
  height: 78px;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: translate(-50%, -50%);
}

.production__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 33px 31px;
}

.production__description {
  color: $color-text;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
  margin-top: 12px;
}

.production__link {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .production__title-wrapper {
    padding-left: 41px;
    padding-right: 41px;
  }

  .production__title {
    padding-top: 10px;
    padding-left: 66px;

    font-size: 20px;

    background-position: 0 100%;
  }

  .production__player {
    order: -1;
  }

  .production__button-play {
    left: 49%;
  }

  .production__description-wrapper {
    padding: 7px 41px 46px;
    min-height: 203px;
  }

  .production__description {
    margin-top: 2px;
    font-size: 15px;
    line-height: 30px;
    color: $color-text;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 103px;
  }

  .production__wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    min-height: 455px;
  }

  .production__title-wrapper {
    margin-left: 682px;
    padding: 44px 57px 0 77px;

    width: 368px;
  }

  .production__title {
    padding-top: 50px;
    padding-left: 0;
    margin-bottom: 0;

    width: 148px;

    background-position: 0 0;
  }

  .production__player {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
  }

  .production__description-wrapper {
    margin-left: 682px;
    padding: 7px 57px 59px 77px;

    width: 368px;
    min-height: 280px;
  }

  .production__description {
    margin-bottom: 20px;
    padding-top: 10px;
  }
}
