.product__description {
  margin: 0;
  margin-bottom: 18px;
  color: $color-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.product__list {
  margin-bottom: 30px;
  width: 100%;
  border-collapse: collapse;
}

.product__item {
  padding-bottom: 20px;
  height: 39px;
  width: 100%;

  font-size: 15px;
  text-decoration: none;
  color: $color-text;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid $grey-border;
}

.product__field {
  padding-right: 28px;
  width: 68px;
}

.product__image {
  margin-bottom: 18px;
  width: 100%;
}

.product__price {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: $color-text;
}

.product__order {
  display: block;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product__description {
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .product__list {
    margin-bottom: 56px;
  }

  .product__description,
  .product__list,
  .product__price,
  .product__order {
    width: calc(100% - 44px - 333px);
  }

  .product__image {
    position: absolute;
    bottom: 66px;
    left: calc(100% - 333px - 50px);
    margin: 0;
    width: 333px;
  }

  .product__price {
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .product__description,
  .product__list,
  .product__price,
  .product__order {
    margin-left: 175px;
    width: 292px;
  }

  .product__image {
    margin: 0;
    position: absolute;
    bottom: 93px;
    left: calc(100% - 525px - 50px);
    width: 525px;
  }

  .product__description {
    margin-bottom: 47px;

    line-height: 30px;
  }

  .product__list {
    margin-bottom: 112px;
  }

  .product__price {
    margin-bottom: 35px;

    line-height: 24px;
  }
}
