.products {
  background-color: $grey-products;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 572px auto;
  }
}

.products__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 122px;
}

.products__title {
  margin: 0;
  padding-top: 71px;
  color: $black;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.products__list {
  @include ul-reset;
  display: flex;
  flex-direction: column;
}

.products__link {
  position: relative;
  display: block;
  padding: 25px 150px 30px 30px;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  color: $white;
  cursor: pointer;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    opacity: 0.5;
    background-repeat: no-repeat;
  }

  &--interior {
    background-color: $aquamarine-lighter;

    &::after {
      top: 23px;
      right: 36px;
      height: 62px;
      width: 40px;
      background-image: url("../img/interior.svg");
    }
  }

  &--toy {
    background-color: $aquamarine-darker;

    &::after {
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background-image: url("../img/toy.svg");
    }
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 35px;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;
    margin-bottom: 46px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% -44px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      @include banner;
    }
  }

  .products__title {
    padding-top: 112px;

    font-size: 43px;
    line-height: 50px;
  }

  .products__wrapper {
    margin-bottom: 373px;
  }

  .products__list {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 768px;
  }

  .products__item {
    width: 50%;
  }

  .products__link {
    padding-left: 36px;
    padding-top: 27px;
    padding-bottom: 31px;

    font-size: 20px;
    line-height: 30px;

    &--interior::after {
      top: 28px;
    }

    &--toy::after {
      top: 28px;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 123px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% -41px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::after {
      @include banner(37px, 12px);
    }
  }

  .products__title {
    padding-top: 111px;
    font-size: 53px;
    line-height: 57px;
  }

  .products__wrapper {
    margin-bottom: 360px;
  }

  .products__list {
    @include container;
  }
}
