.product-week {
  position: relative;
  padding-bottom: 36px;
  margin-top: 28px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    background-image: url(../img/zigzag-line.svg);
    height: 6px;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

.product-week__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.product-week__titles {
  display: flex;
  flex-direction: column;
}

.product-week__name {
  margin: 0;
  margin-bottom: 5px;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}

.product-week__title {
  margin: 0;
  margin-bottom: 23px;
  order: 1;
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}
