.social {
  position: relative;
  margin-bottom: 37px;

  &::before {
    position: absolute;
    content: "";

    top: 52px;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: rgba(68, 68, 68, 0.1);
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding-right: 24.2%;
  padding-left: 21.9%;

  width: 100%;
  list-style: none;
}

.social__link {
  display: block;
  width: 24px;
  height: 28px;

  &--facebook {
    margin-top: -6px;
    margin-left: 10px;
  }

  &:hover .social__svg,
  &:focus .social__svg {
    fill: $aquamarine-link;
  }

  &:active .social__svg {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .social__list {
    padding: 0;
    width: 143px;
  }
}
