$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$black:#000000;
$white: #ffffff;
$aquamarine: #62d1ba;
$aquamarine-link: #46c1ae;
$aquamarine-lighter: #63d1bb;
$aquamarine-darker: #56c3b2;
$color-text: #444444;
$light-grey: #f1f1f1;
$grey-border: #ececec;
$grey-products: #f9f9f9;
